<ActionBar class="action-bar">
    <FlexboxLayout alignItems="center" justifyContent="center" height="50">
        <Image src="res://ballicon" height="24" width="24" stretch="aspectFill"></Image>
        <Label text="golf handicap" class="h3"></Label>
    </FlexboxLayout>
</ActionBar>

<StackLayout class="main">
    <!-- Profile section -->
    <GridLayout class="profile-section" columns="auto, *" rows="auto">
        <GridLayout columns="100" rows="100" col="0" row="0" verticalAlignment="center">
            <Image class="profile-picture" src="res://defaultprofile" stretch="aspectFill" col="0" row="0">
            </Image>
        </GridLayout>
        <FlexboxLayout class="user-info" col="1" row="0" flexDirection="column" justifyContent="center">
            <Label class="h3" [text]="user.name"></Label>
            <Label class="h6" text="Current Handicap"></Label>
            <Label class="font-italic" textDecoration="underline" text="View profile" (tap)="goToProfile()"></Label>
        </FlexboxLayout>
    </GridLayout>

    <!-- History section -->
    <GridLayout columns="*" rows="auto, *, auto">
        <FlexboxLayout class="score-list__header" row="0" col="0" justifyContent="space-between" alignItems="center">
            <Label class="h2" text="History"></Label>
            <Label class="h6" text="Sort by: N/A"></Label>
        </FlexboxLayout>
        <FlexboxLayout *ngIf="noScores" row="1" justifyContent="center" alignItems="center">
            <Label class="h3 text-primary" text="No scores to display"></Label>
        </FlexboxLayout>
        <RadListView [items]="scores" *ngIf="!noScores" row="1" class="w100">
            <ng-template tkListItemTemplate let-score="item">
                <GridLayout class="score-list" (tap)="goToScore(score)" (longPress)="onLongPress(score)"
                    columns="auto, *" rows="auto" class="score-list__item" shadow="4">
                    <Label *ngIf="score" class="score-list__item-grossScore" [text]="score.grossScore" col="0"></Label>
                    <FlexboxLayout *ngIf="score" class="score-list__item-right" flexDirection="column"
                        justifyContent="flex-end" col="1">
                        <Label [text]="formatDate(score.scoreDate, 'MMMM Do, YYYY')"></Label>
                        <Label [text]="score.course"></Label>
                    </FlexboxLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
        <Button class="btn-primary" row="2" [enabled]="!isLoading" text="Add new score" (tap)="goToScore()"></Button>
        <ActivityIndicator [busy]="isLoading" rowSpan="4"></ActivityIndicator>
    </GridLayout>

</StackLayout>

<!-- <FAB (tap)="goToScore()" icon="res://plus" rippleColor="#08a045" class="fab-button btn-primary"></FAB> -->