.main {
  padding: 16;
}

.profile-picture {
  background-color: white;
  border-radius: 50%;
  border-width: 2;
  border-color: #08a045;
}

.user-info {
  padding: 16;
}

.profile-link {
  text-decoration: underline;
  font-size: 12;
  font-style: italic;
}

.handicap-text {
  font-size: 16;
}

.picker {
  margin-left: auto;
}

.score-list__header {
  padding: 4 16;
}

.score-list__item {
  background-color: #f3f3f3;
  padding: 4 16;
  margin-bottom: 2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.score-list__item-grossScore {
  font-size: 24;
}

.score-list__item-right {
  text-align: right;
  font-size: 14;
}

DataFormEditorLabel {
  color: #000000;
  font-size: 16;
}

DataFormEditorCore {
  color: #4f4f4f;
  font-size: 16;
  padding: 16;
  background-color: white;
  border-color: #bababa;
  border-width: 1;
  border-radius: 4;
}

PropertyEditor:focus DataFormEditorCore {
  border-color: #08a045;
  border-width: 2;
}
